<div class = "card border border-light-subtle border-top-0 rounded-0">
  <div class="d-flex flex-row justify-content-evenly">
    <div class="icon fs-1 m-2 me-0">
      <% if current_user.profile_picture.attached? %>
        <%= image_tag(current_user.profile_thumbnail, size: pfp_size , class: "rounded-circle") %>
      <% else %>
        <i class="bi bi-person-circle"></i>
      <% end %>
    </div>
    <div class="w-100 m-2">
      <%= form_with model: Tweet.new, url: submit_path, method: :post, data:{controller: "tweet-form"} do |form| %>
        <div>
          <%= form.text_area :body, placeholder: form_placeholder, maxlength: 280,
                              class: "form-control form-control-lg border border-light"%>
        </div>
        <div class = "mt-2 mb-2 text-end">
          <%= form.submit submit_label, class: "btn btn-lg rounded-pill btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
