<h3 class = "w-100 d-flex text-start card border border-light-subtle border-top-0 rounded-0 mb-0 p-2">Home</h3>
<%= render  "tweets/form" %>
<section id="tweets">
  <%= render @all_tweets %>
</section>
