<section>
  <h4 class = "border border-light-subtle mb-0 p-2 fw-bold">Who to follow</h4>
  <% @all_users.each do |user| %>
    <%= render 'users/visit_user_card', user: user %>
  <% end %>
</section>
