<h1>
  Notifications
</h1>
<% @notifications.each do |notification| %>
  <div class = "border border-1 ">
    <% if notification.trackable_type == "Like" %>
      <%= render 'notification', type: "Like", notification: notification, tweet: notification.trackable.tweet , owner: notification.owner %>
    <% elsif notification.trackable_type == "Retweet" %>
      <%= render 'notification', type: "Tweet", notification: notification, tweet: notification.trackable.tweet , owner: notification.owner %>
    <% elsif notification.trackable_type == "Following" %>
      <%= render 'notification', type: "Following", notification: notification, tweet: notification.trackable , owner: notification.owner %>
    <% else %>
      <%= render 'notification', type: "Tweet", notification: notification, tweet: notification.trackable , owner: notification.owner %>
    <% end %>
  <% end %>
