<h1>
  Notifications
</h1>
<% @notifications.each do |notification| %>
  <% if notification.trackable_type == 'Tweet' %>
    <div style="border: solid 1px black">
      <% tweet = notification.trackable %>
      <% owner = notification.owner %>
      <% if tweet.nil? %>
        <% next %>
      <% end %>
      <div class="notification">
        <h3> <%= tweet.user.display_name %> </h3>
        <span><%= t("public_activity.#{notification.key}")%>.<%= posted_at(tweet)%></span>
        <span><%= notification.parameters[:parent_tweet_id] %></span>
      </div>
    </div>
  <% end %>
<% end %>
