<%= turbo_frame_tag "follow-count" do %>
  <div class="d-flex gap-3 text-start mb-2 mt-0 border border-light-subtle border-bottom-0 border-top-0 rounded-0 p-3">
    <div class = "fw-light" >
      <b class= "fw-bold"> <%= user.followings_count %></b> Following
    </div>
    <div class = "fw-light" >
      <b class= "fw-bold"> <%= user.followers_count %></b> Followers
    </div>
  </div>
<% end %>
