<%= turbo_frame_tag "follow-count" do %>
  <div class="d-flex gap-3">
    <div class = "fw-light" >
      <b class= "fw-bold"> <%= user.followings_count %></b> Following
    </div>
    <div class = "fw-light" >
      <b class= "fw-bold"> <%= user.followers_count %></b> Followers
    </div>
  </div>
<% end %>
