.tweet {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1 ease-in;
  transition: all 0.1s ease-in;

  &:hover {
    background-color: $gray-200;
  }
}
:root {
  --light-blue: #0188ba;
  --light-blue-hover: #b1eefb;

  --green: #00ab08;
  --green-hover: #8fd793;
}

.retweet-icon,
.views-icon,
.comment-icon,
.like-count {
  color: #202020;
  transition: all 0.3s ease;
}

.views-icon:hover,
.comment-icon:hover {
  color: $blue-400;
  background-color: $blue-100;
  transition: all 0.3s ease;
}

.retweet-icon:hover {
  color: $green-500;
  background-color: $green-100;
  transition: all 0.3s ease;
}
.retweet-icon:hover + .retweet-count {
  color: $green-500;
  transition: all 0.3s ease;
}

.views-icon:hover + .views-count {
  color: $blue-400;
  transition: all 0.3s ease;
}
.comment-icon:hover + .comment-count {
  color: $blue-400;
  transition: all 0.3s ease;
}

.like-icon:hover {
  color: $pink-400;
  background-color: $pink-100;
  transition: all 0.3s ease;
}
.like-icon:hover + .like-count {
  color: $pink-400;
  transition: all 0.3s ease;
}
