.tweet {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1 ease-in;
  transition: all 0.1s ease-in;

  &:hover {
    background-color: $gray-200;
  }
}
