 <%= form_with model: current_user, local: true, url: username_path(current_user), html: {method: :put} do |f| %>
  <div class="container ps-5 pe-5">
    <%# Username %>
    <div class="field mb-2">
      <%= f.label :username, class: "fs-5 mb-1" %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control form-control-lg" %>
    </div>
    <%# Submit %>
    <div class="actions mt-3 mb-2">
      <%= f.submit "Set Username", class: "btn btn-lg btn-success" %>
    </div>
  </div>
<% end %>
