<div class="container d-flex flex-column align-items-center justify-content-center mt-5 gap-4">
  <div class="card w-40 text-center">
    <h2 class = "card-header mb-3">Profile Details</h2>
    <%# Form %>
    <%= render 'form' %>
  </div>
</div>
