<div class="container d-flex flex-column align-items-center gap-4">
  <div class="card w-40 text-center">
    <h2 class = "card-header mb-3">Create Username</h2>
    <%# Form %>
    <%= render 'form' %>
  </div>
</div>
